<a href="https://colab.research.google.com/github/zikriramadhan1/ZIKRI-RAMADHAN/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#p8 zikri ramadhan
#Soal 1 dengan bu sevinurafni
S = [4, 1, -1, 10, 0, 12]

D = int(input("Masukkan nilai D: "))

S = [x * D for x in S]

print("Array setelah dikalikan dengan D:", S)

Masukkan nilai D: 9
Array setelah dikalikan dengan D: [36, 9, -9, 90, 0, 108]

In [2]:
# Soal 2 dengan bu Sevinurafni
T1 = [9, 12, 30, -1, 0, 4, -1, 3, 30, 14]
nilai_terbesarT1 = max(T1)
print ("nilai terbesar dari T1 adalah", nilai_terbesarT1)

nilai_terkecilT1 = min(T1)
print ("nilai terkecil dari T1 adalah", nilai_terkecilT1)

T2 = [1, 3, 5, 8, -12, 90, 3, 5]
nilai_terbesarT2 = max(T2)
print ("nilai terbesar dari T2 adalah", nilai_terbesarT2)

nilai_terkecilT2 = min(T2)
print ("nilai terkecil dari T2 adalah", nilai_terkecilT2)

nilai terbesar dari T1 adalah 30
nilai terkecil dari T1 adalah -1
nilai terbesar dari T2 adalah 90
nilai terkecil dari T2 adalah -12

In [3]:
arr = [10, 20, 30, 40]
arr

[10, 20, 30, 40]

In [4]:
list_numbers = [1, 2, 3, 4, 5]
list_numbers

[1, 2, 3, 4, 5]

In [5]:
list_numbers[0] = 100  # Mengubah elemen pertama menjadi 100
list_numbers

[100, 2, 3, 4, 5]

In [6]:
arr = [1, 2, 3, 4, 5]
arr

[1, 2, 3, 4, 5]

In [7]:
data = [1, 2, 3, 'hello', 5.5]  # array dengan elemen tipe berbeda
data

[1, 2, 3, 'hello', 5.5]

In [8]:
arr = [0] * 5  # Membuat array dengan 5 elemen, semua berisi 0
arr

[0, 0, 0, 0, 0]

In [9]:
arr = [10, 20, 30, 40]
print(arr[0])  # Output: 10 (indeks pertama)
print(arr[3])  # Output: 40 (indeks terakhir)

10
40

In [10]:
arr = [10, 20, 30, 40, 50]
for elemen in arr:
    print(elemen)

10
20
30
40
50

In [11]:
total = 0
for elemen in arr:
    total += elemen
print(total)  # Output: 150

150

In [13]:
arr = [10779094572739, 734783, 435774, 73478, 156273, 6725226, 2640, 487, 53875, 863, 97755, 987237722, 525, 25329]

nilai_maks = max(arr)
print(nilai_maks)
print("jadi rata rata nilai maksimum arr adalah" , nilai_maks)

nilai_min = min(arr)
print(nilai_min)
print("jadi nilai minimum arr adalah" , nilai_min)

penjumlahan = sum(arr)
print(penjumlahan)
print("hasil penjumlahan seluruh elemen arr adalah", penjumlahan)

jumlah_arr = len(arr)
print(jumlah_arr)
print("jadi jumlah seluruh elemen arr adalah" , jumlah_arr)

rata_rata = sum(arr)/len(arr)
print(rata_rata)
print("jadi rata-rata seluruh elemen arr adalah", rata_rata)

10779094572739
jadi rata rata nilai maksimum arr adalah 10779094572739
487
jadi nilai minimum arr adalah 487
10780090117469
hasil penjumlahan seluruh elemen arr adalah 10780090117469
14
jadi jumlah seluruh elemen arr adalah 14
770006436962.0714
jadi rata-rata seluruh elemen arr adalah 770006436962.0714